<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="false">
    <display-name>briva</display-name>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.briva.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>com.briva.RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>com.briva.ProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatalogoServlet</servlet-name>
        <servlet-class>com.briva.CatalogoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogoServlet</servlet-name>
        <url-pattern>/CatalogoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>com.briva.CarritoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/CarritoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PagoServlet</servlet-name>
        <servlet-class>com.briva.PagoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PagoServlet</servlet-name>
        <url-pattern>/PagoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmacionServlet</servlet-name>
        <servlet-class>com.briva.ConfirmacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmacionServlet</servlet-name>
        <url-pattern>/ConfirmacionServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>